.header {
  background-color: #0078d4;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h2 {
  margin: 0;
  font-size: 24px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 20px;
}

li:last-child {
  margin-right: 0;
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.cadastros {
  text-decoration: none;
  color: #ff6c00;
  font-weight: bold;
  font-size: 16px;
}


.logout-button {
  background-color: #ff6c00;
  color: #fff;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #ff4700;
}
