.sobre-page {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

img {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}
