.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.tabela {
  display: flex;
  justify-content: center;
  margin: 25px;
  margin-bottom: 50px;
}

.tabela table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
}

.tabela th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.tabela tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabela tr:nth-child(odd) {
  background-color: #e0e0e0;
}

.tabela td {
  padding: 10px;
  border: 1px solid #ddd;
}
